$body-bg: #f2f2f2;
$primary: #C2EABA;
$secondary: #A7C4A0;
$danger: #AC8887;
$success: #09814A;
$warning: #FC7753;
$info: #00C9BD;
$dark: #2E3532;
$text-light: #E6EFE9 ;
$text-dark: #8F8389;
$primary-muted: #117A65;